@model IEnumerable<BudgetProfilerr.Models.Entities.UserModel>
@ViewBag.Title = "Information"

<div class="row">
    <div class="col-md-5">
        <h1>Information<br><small>Showing the details for the selected users.</small></h1><br>User information displays their <mark>First Name</mark> and <mark>Last Name</mark>.
    </div>
</div>
<div class="col-md-5">
    <table class="table table-bordered table-striped">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
        </tr>
        @foreach (var user in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(m => user.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(m => user.LastName)
                </td>
            </tr>
        }
    </table>

</div>























@*@model BudgetProfilerr.Models.Entities.UserModel

    @{
        ViewBag.Title = "Details";
    }

    <h2>Details</h2>

    <div>
        <h4>UserModel</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.FirstName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FirstName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.LastName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LastName)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>*@
