@model IEnumerable<BudgetProfilerr.Models.Entities.UserModel>
<hr>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h1>Update<br><small>Update the chosen users.</small></h1><br>User modification will not be successfull if there is a user with the <span class="mark">same</span> first and last name
        </div>
        @using (Html.BeginForm())
        {
            <div class="row">
                @foreach (var user in Model)
                {
                    Html.RenderPartial("_userEdit", user);
                }
                <hr><input type="submit" value="Edit" class="btn btn-primary">
            </div>
        }
    </div>
</div>







@*@model BudgetProfilerr.Models.Entities.UserModel

    @{
        ViewBag.Title = "Edit";
    }

    <h2>Edit</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>UserModel</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.ID)

            <div class="form-group">
                @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>*@
